
aside > h3 {
  color:#4a4e51;
  font-weight: bold;
  font-family: sans-serif;
}
.sidebox {
  border: 1px solid black;
  float:right;
  font-size: 1em;
  font-family: sans-serif;
  width: 310px;
  padding: 50px 50px;
  border: 50px 50px;
  background-color: #ffffff;
  color: #4a4e51;
}
.asidenav {
  background-color: #ffffff;
  overflow: hidden;
}
.asidenav a {
  color: #25b4d2;
  text-align: left;
  padding: 12px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
body {
  margin: 0 0 5em 5em;
  padding-right: 200px;
  font-family: sans-serif;
}
.topnav {
  background-color: #e8e8e8;
  overflow: hidden;
  padding:10px 10px;
  }
.topnav a {
  float: left;
  color: #4a4e51;
  text-align: center;
  padding:  1em 1em;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
section {

}
header > a {
  background-color: lightgray;
  color: #4a4e51;
  padding:.5rem;
}
h1 {
  background-color: #25b4d2;
  color:#ffffff;
  font-family: sans-serif;
  font-weight: bold;
}
h2 {
  background-color: #25b4d2;
  color:#ffffff;
  font-family: sans-serif;
  font-weight:lighter;
  font-style: italic;
}
h3 {
  background-color: #ffffff;
  color: #4a4e51;
  font-family: sans-serif;
}
blockquote{
  font-size: 24px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align:inherit;
  color:#25b4d2;
}
strong {
  font-size: 20px;
  font-family: sans-serif;
  color:#25b4d2;
}
em {
  font-family: sans-serif;
  font-style: normal;
  color:#25b4d2;
}
p {
  font-family: sans-serif;
  font-size: 1em;
}
figure {
  border: 0;
  padding: 0;
  margin: inherit;
  align-self: left;
}
img {
  width: 310px;
}
