
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.header {
  height: 25rem;
  padding: 2rem 0  0 15rem;
  border: 0;
  text-align: left;
  background-color: #25b4d2;
  color: #ffffff;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  font-stretch:ultra-expanded;
}
h2 {
  font-size: 35px;
  font-weight:lighter;
  font-style: italic;
}
.topnav {
  background-color: #e8e8e8;
  overflow: hidden;
  position: sticky;
  padding: 0 0 0 14rem;
  }
.topnav a {
  float:left;
  display: block;
  color: #4a4e51;
  text-align:center;
  padding:  1rem 1rem 1rem 1rem;
  text-decoration: none;
  font-family: sans-serif;
  font-weight:bold;
  font-size: 1.2rem;
}
.topnav :active {
  color: #25b4d2;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
figure {
  border: 0;
  padding: 0;
  margin: inherit;
}
img {
  width: 1628px;
  padding: 0;
}
h3 {
  background-color: #ffffff;
  color: #4a4e51;
  font-family: sans-serif;
}
.article {
  height: auto;
  overflow: hidden;
  padding-top: 2rem;
  padding-left: 13rem;
  padding-right: 4rem;
  border: 0 ;
  margin: 0;
  position: relative;
}
.article img {
  width: 230px;
  padding: 0;
  position: relative;
}
.article figure {
  border: 0;
  padding: 0;
  margin: inherit;
}
blockquote{
  font-size: 24px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align:inherit;
  color:#25b4d2;
}
strong {
  font-size: 20px;
  font-family: sans-serif;
  color:#25b4d2;
}
em {
  font-family: sans-serif;
  font-style: normal;
  color:#25b4d2;
}
p {
  font-family: sans-serif;
  font-size: 1em;
  font-stretch: ultra-expanded;
}
.kitty-profile {
  height: auto;
  background-color: #e8e8e8;
  overflow: hidden;
  padding: 1rem;
  margin: 0;
  position:relative;
}
.kitty-profile h3 {
  text-align: center;
}
.side {
  border: 0;
  float:right;
  font-size: 1em;
  font-family: sans-serif;
  width: 310px;
  padding: 50px 50px;
  border: 50px 50px;
  background-color: #ffffff;
  color: #4a4e51;
  z-index: 999;
}
.side h3 {
  color:#4a4e51;
  font-weight: bold;
  font-family: sans-serif;
}
.sidenav {
  background-color: #ffffff;
  overflow: hidden;
  color: #25b4d2;
}
.sidenav a {
  color: #25b4d2;
  text-align: left;
  text-decoration: none;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
figure {
  border: 0;
  padding: 0;
  margin: inherit;
}
figcaption {
  font-family: sans-serif;
  color: #4a4e51;
  font-size: 12px;
}
img {
  width: 230px;
  padding: 0;
}

.footer {
  padding: 20px;
  width: 100%;
  bottom: 0;
  clear:both;
  text-align: center;
  background-color: #4a4e51;
  color: #ffffff;
}
.footer p {
  font-family: sans-serif;
  font-size: 1em;
}
.footnav {
  background-color: #4a4e51;
  overflow: hidden;
  position: sticky;
  padding: 1rem 0 1rem 1rem;
  }
.footnav a {
  color: #ffffff;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.footnav :active {
  color: #25b4d2;
}

.logofig {
  border: 0;
  padding: 0;
  margin:inherit;
  align-self: center;
}
.logoimg {
  background-color: #4a4e51;
  width: 356px;
  padding: 3rem 3rem 3rem 3rem;
  border: 0;
}
/*
@media screen and (max-width: 700px) {
  .row {
    flex-direction:column;
  }
}
*/
