/* CSS stylesheet for index.html and about-me.html */
* {
  box-sizing: border-box;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;700&family=Roboto:wght@100;300&display=swap');

body {
  margin: 50px;
  font-family: sans-serif;
}
.side {
  border-style: groove;
  border-width:thick;
  border-color: #a9a9a9;
  float:right;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  width: 310px;
  padding: 25px 25px;
  border: 25px 25px;
  background-color: #ffffff;
  color: #4a4e51;
  z-index: 999;
}
.side h3 {
  color:#4a4e51;
  font-weight: bold;
  font-family: 'Encode Sans SC', sans-serif;
}
.sidenav {
  background-color: #ffffff;
  overflow: hidden;
  color: #25b4d2;
}
.sidenav a {
  color: #25b4d2;
  text-align: left;
  text-decoration: none;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeefff;
  border: none;
  box-shadow: 1px 1px 4px #bbbbbb;
  cursor:pointer;
  font-family: Roboto, sans-serif;
}
details > p {
  background-color: #1fccde;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
  font-family: Roboto, sans-serif;
}
figure {
  border: 0;
  padding: 10px;
  margin: inherit;
}
figcaption {
  background-color: lightblue;
  width: 50%;
  color: #4a4e51;
  font-size: 16px;
  font-style: italic;
  padding: 2px;
  text-align: left;
  font-family: Roboto, sans-serif;
}
img {
  width:230px;

}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  flex-basis: 40%;
}
.text {
  font-size: 20px;
  padding-left: 0px;
  width: 50%;
}
main {
  margin: 2px;
  padding: 5px;
  background-color: #dff7fb;
}
main > h1, p, .browser {
  margin: 10px;
  padding: 5px;
}
h1 {
  font-family: 'Encode Sans SC', sans-serif;
}
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
  font-family: Roboto, sans-serif;

}
.browser {
  background: white;
}
.browser >  p {
  margin: 4px;

}
h2 {
  font-family: 'Encode Sans SC', sans-serif;
  color: #25b4d2;
}
h3 {
  font-family: Roboto, sans-serif;
  color: #4a4e51;
}
table, th, td {
  border: 1px solid black;
}
p {
    font-family: Roboto, sans-serif;
}
ul, li {
  font-family: Roboto, sans-serif;
}
/* Navigation Bar */
.navbar {
  width: 100%;
  background-color: #555;
  position: sticky;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #25b4d2;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
